<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring i Thymeleaf: lista pracowników</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
        
        <style>
            img.empPhoto {
                width: 300px;
            }
            .fired {
                color: firebrick;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid" th:inline="text">
            <h1>Pan Prezes</h1>
            <p>
                <b>
                    <span th:text='|${boss.firstName} ${boss.lastName}|'></span>
                </b>
            </p>
            <img th:src="${boss.photoUrl}" class="empPhoto" 
                 src="http://via.placeholder.com/250x250"/>

            <h1>Pracownicy firmy</h1>

            <table class="table table-striped">
                <tr>
                    <th>Lp</th>
                    <th>Imię i nazwisko</th>
                    <th>Stanowisko</th>
                    <th>Pensja</th>
                    <th>Data zatrudnienia</th>
                    <th>Data zwolnienia</th>
                    <th>Umiejętności</th>
                    <th>Uwagi</th>
                    <th>Zdjęcie</th>
                </tr>
                <tr th:each="employee,iter : ${employees}" th:class="${not #lists.isEmpty(employee.dateOfTermination)}? 'fired'" >
                    <td th:text='${iter.count}'></td>
                    <td th:text='|${employee.firstName} ${employee.lastName}|' >Onions</td>
                    <td th:text='${employee.jobTitle}'></td>
                    <td th:text="${#numbers.formatDecimal(employee.salary, 0, 'WHITESPACE', 2, 'COMMA')}"></td>
                    <td th:text="${#dates.format(employee.dateOfEmployment, 'dd.MM.yyyy')}"></td>
                    <td th:if="${#lists.isEmpty(employee.dateOfTermination)}" th:text="|wciąż pracuje|"></td>
                    <td th:class="fired" th:if="${not #lists.isEmpty(employee.dateOfTermination)}" th:text="${#dates.format(employee.dateOfTermination, 'dd.MM.yyyy')}"></td>
                    <td>
                         <p th:each="skills,it: ${employee.skills}" th:if="${not it.last}" th:text="|${skills.name}(${skills.level}),|"> </p>
                         <p th:each="skills,it: ${employee.skills}" th:if="${it.last}" th:text="|${skills.name}(${skills.level})|"> </p>
                    </td>
                    <td>
                        <p th:each="com,it: ${employee.comments}" th:text="${com}"></p>
                    </td>
                    <td>
                        <img th:class="empPhoto" th:src="${employee.photoUrl}"></img>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>